html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
*:focus {
  outline: none;
}
button {
  border: none;
}
body {
  @include roboto;
  font-size: 1.6rem;
  line-height: 1.375;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
